@font-face {
    font-family: 'muliregular';
    src: url('muli-variablefont_wght-webfont.eot');
    src: url('muli-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-variablefont_wght-webfont.woff2') format('woff2'),
         url('muli-variablefont_wght-webfont.woff') format('woff'),
         url('muli-variablefont_wght-webfont.ttf') format('truetype'),
         url('muli-variablefont_wght-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$font-principal: muliregular;
