/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'muliregular';
  src: url("muli-variablefont_wght-webfont.eot");
  src: url("muli-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("muli-variablefont_wght-webfont.woff2") format("woff2"), url("muli-variablefont_wght-webfont.woff") format("woff"), url("muli-variablefont_wght-webfont.ttf") format("truetype"), url("muli-variablefont_wght-webfont.svg#muliregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: muliregular;
  color: #4e4e4e;
}

.header {
  background-image: url("/assets/players.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.24);
  border-bottom: 1px solid white;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  padding: 15px;
}

.header__logo {
  width: 60px;
  height: 90px;
  margin-right: 80px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__link {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.header__link:hover {
  color: #fd3030;
}

.section__teams {
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__players {
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.section__players__h2 {
  font-size: 45px;
  text-align: center;
}

.section__games {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__games__tittle {
  text-align: center;
}

.teams__header {
  width: 100%;
  height: 320px;
  background-color: #2935db;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams__header__h2 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 0;
}

.teams__header__info {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.teams__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.teams__actions__button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.589);
  width: 200px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-weight: 300;
  text-align: center;
}

.teams__actions__button:hover {
  background-color: rgba(255, 255, 255, 0.815);
}

.players__header {
  width: 100%;
  height: 300px;
  background-color: #fd3030;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.players__header__h2 {
  font-size: 50px;
  font-weight: 900;
  margin-top: 0;
}

.players__header__info {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.players__header__input {
  outline: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.589);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 50px auto 10px auto;
  text-align: center;
  font-size: 18px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-weight: 300;
}

.players__header__input:hover {
  background-color: rgba(255, 255, 255, 0.815);
}

.players__header__input:focus {
  background-color: white;
  width: 280px;
  color: #4e4e4e;
}

.games__header {
  width: 100%;
  height: 200px;
  background-color: #2935db;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.games__header__h2 {
  font-size: 50px;
  font-weight: 900;
  margin: auto;
  text-align: center;
}

.games__header__info {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.card {
  max-width: 900px;
  margin-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__container {
  margin-left: 5px;
}

.card__container:hover .card__container__faces {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__container__faces {
  width: 200px;
  height: 230px;
  margin: 10px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .7s ease;
  transition: .7s ease;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.card__front {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(255, 255, 255, 0.616);
}

.card__front__img {
  margin-top: 10px;
  width: 150px;
  height: 140px;
}

.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.897);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__back__p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.players__buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.players__buttons__actions {
  background-color: #4e4e4e;
  border: none;
  border-radius: 50%;
  width: 40px;
  padding: 10px;
  color: white;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  margin-right: 50px;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.players__buttons__actions:hover {
  background-color: #fd3030;
  border: none;
}

.carousel {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  margin-bottom: 60px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.carousel__profile {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.carousel__data {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 700;
  font-size: 20px;
}

.carousel__data__p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.carousel__data__info {
  font-weight: 900;
  font-size: 20px;
  color: black;
}

.games__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games__actions__select {
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  outline: none;
}

.games__actions__buttons {
  background-color: #4e4e4e;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  margin: 30px;
  outline: none;
}

.games__actions__buttons:hover {
  background-color: #2935db;
  border: none;
}

.games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 30px;
  margin-bottom: 20px;
}

.games__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.games__container__date {
  color: black;
  font-weight: 700;
}

.games_container__team {
  border-bottom: 2px solid #2935db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  font-weight: 700;
}

.button__up {
  background-color: #4e4e4e;
  width: 20px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 50%;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.button__up:hover {
  color: #fd3030;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
}

.footer {
  background-color: #cecece;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer__container {
  width: 100%;
  height: 50px;
  background-color: 0;
  margin-bottom: 10px;
  font-family: muliregular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin-left: 20px;
}

.footer__icon__link {
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: #4e4e4e;
}

.footer__icon__link:hover {
  color: #fd3030;
}
/*# sourceMappingURL=style.css.map */