@import './normalize';
@import './variables';
@import './fonts';

// $primary-color: rgb(255, 255, 255);
// $second-color: rgb(253, 48, 48);
// $third-color:  rgb(68, 79, 233);
// $fourth-color: rgb(104, 104, 104);
// $font-principal: muliregular;

body{
    font-family: $font-principal;
    color: $fourth-color;
}

.header{
    background-image: url('/assets/players.jpeg');
    background-attachment: fixed;  // Es lo que permite el efecto parallax, le indica a la imagen una posición fija de acuerdo al viewport
    background-repeat: no-repeat;
    background-size: cover;  // La imagen cubrirá el 100% del ancho
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.24);
        border-bottom: 1px solid $primary-color;
    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        padding: 15px;
    }

    &__logo{
        width: 60px;
        height: 90px;
        margin-right: 80px;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    &__link{
        text-decoration: none;
        padding-left: 15px;
        padding-right: 15px;
        color: $primary-color;
        font-size: 18px;
        font-weight: 700;
        outline: none;

        &:hover{
            color: $second-color;
        }
    }
}


// Etiqueta main (incluye todos los section)
.section{
    &__teams {
        background-image: url(/assets/background.jpg);
        background-attachment: fixed;  
        background-repeat: no-repeat;
        background-size: cover;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__players{
        background-image: url(/assets/background.jpg);
        background-attachment: fixed;  
        background-repeat: no-repeat;
        background-size: cover;  
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
        
        &__h2{
            font-size: 45px;
            text-align: center;
        }

    }

    &__games{
        background-attachment: fixed;  
        background-repeat: no-repeat;
        background-size: cover; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__tittle{
            text-align: center;
        }
    }
}


// Introducción a cada sección
.teams__header{
    width: 100%;
    height: 320px;
    background-color: $third-color;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__h2{
        font-size: 50px;
        font-weight: 900;
        margin-top: 0;
    }

    &__info{
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        max-width: 1100px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

   
}

.teams__actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;;

    &__button{
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.589);
        width: 200px;
        margin-right: 10px;
        border-radius: 3px;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;
        transition-duration: .5s;
        font-weight: 300;
        text-align: center;

        &:hover{
            background-color: rgba(255, 255, 255, 0.815);
        }
    }

    
}

.players__header{
    width: 100%;
    height: 300px;
    background-color: $second-color;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;

    &__h2{
        font-size: 50px;
        font-weight: 900;
        margin-top: 0;
    }

    &__info{
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        max-width: 1100px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    &__input{
        outline: 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.589);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 50px auto 10px auto;
        text-align: center;
        font-size: 18px;
        transition-duration: .5s;
        font-weight: 300;

        &:hover{
            background-color: rgba(255, 255, 255, 0.815);
        }
        
        &:focus{
            background-color: white;
            width: 280px;
            color: $fourth-color;
        }
        
    }
}

.games__header{
    width: 100%;
    height: 200px;
    background-color: $third-color;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;

    &__h2{
        font-size: 50px;
        font-weight: 900;
        margin: auto;
        text-align: center;
    }

    &__info{
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        max-width: 1100px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }
}


// Cards del section teams
.card{
    max-width: 900px;
    margin-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__container{
        margin-left: 5px;

        &:hover &__faces{
            transform: rotateY(180deg);  // Gira el elemento en sentido horario desde su posición actual.
        }

        &__faces{
            width: 200px;
            height: 230px;
            margin: 10px;
            position: relative;
            transform-style: preserve-3d;  // Permite que los elementos secundarios (hijos) se colocan en un espacio 3D. La propiedad transform-style especifica cómo se representan los elementos anidados en el espacio 3D.
            transition: .7s ease;
            -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        }
    }

    &__front{
        // Para que ocupen el 100% del tamaño de su padre (__face)
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;  //  Define si la cara posterior de un elemento debe ser visible cuando se enfrenta al usuario. Ocurre cuando se rota un elemento y lo que consideramos como el "frente" ya no se muestre a la pantalla.
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.616);

        &__img{
            margin-top: 10px;
            width: 150px;
            height: 140px;
        }

    }

    &__back{
        // Para que ocupen el 100% del tamaño de su padre (__face)
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.897);
        backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: rotateY(180deg);

        &__p{
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

// Botones de next y back para el carousel de imágenes de los jugadores
.players__buttons{
    margin-top: 50px;
    margin-bottom: 50px;

    &__actions{
        background-color: $fourth-color;
        border: none;
        border-radius: 50%;
        width: 40px;
        padding: 10px;
        color: $primary-color;
        font-weight: 900;
        font-size: 30px;
        cursor: pointer;
        outline: none;
        margin-right: 50px;
        -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        
        &:hover{
            background-color: $second-color;
            border: none;
        }
    }
}

// Players
.carousel{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    background-color: $primary-color;

    &__profile{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-right: 20px;
        -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    }

    &__data{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        font-weight: 700;
        font-size: 20px;

        &__p{
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &__info{
            font-weight: 900;
            font-size: 20px;
            color: rgb(0, 0, 0);
        }
    }
}

// Botones para cargar los resultados de los juegos por temporada
.games__actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__select{
        border: 1px solid $fourth-color;
        border-radius: 5px;
        cursor: pointer;
        height: 50px;
        outline: none;
    }

    &__buttons{
        background-color: $fourth-color;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        color: $primary-color;
        font-weight: 900;
        font-size: 20px;
        cursor: pointer;
        margin: 30px;
        outline: none;

        &:hover{
            background-color: $third-color;
            border: none;
        }
    }
}

// Resultado de cada juego
.games{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 30px;
    margin-bottom: 20px;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 15px;

        &__date{
            color: black;
            font-weight: 700;
        }
    }
}

// Nombre del equipo y su score
.games_container__team{
    border-bottom: 2px solid $third-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    font-weight: 700;
}


// Botón de ir al inicio
.button__up{
    background-color: $fourth-color;
    width: 20px;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    color: $primary-color;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    transform: scale(0); // scale(): Afecta el tamaño del elemento.

    &:hover{
        color: $second-color;
        -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
    }
}


// Footer
.footer{
    background-color: rgb(206, 206, 206);
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;

    &__container{
        width: 100%;
        height: 50px;
        background-color: red($color: #000000);
        margin-bottom: 10px;
        font-family: $font-principal;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    

   
}


.footer__icon{
    margin-left: 20px;

    &__link{
        font-size: 25px;
        cursor: pointer;
        text-decoration: none;
        color: $fourth-color;

        &:hover{
            color: $second-color;
        }
    }
}